<div class="form-group">
    <label for="license_plate">Placa:</label>
    <input type="text" id="license_plate" name="license_plate" class="form-control" value="{{ vehicle.license_plate }}">
</div>
<div class="form-group">
    <label for="model">Modelo:</label>
    <input type="text" id="model" name="model" class="form-control" value="{{ vehicle.model }}">
</div>
<div class="form-group">
    <label for="brand">Marca:</label>
    <input type="text" id="brand" name="brand" class="form-control" value="{{ vehicle.brand }}">
</div>
<div class="form-group">
    <label for="year">Año:</label>
    <input type="text" id="year" name="year" class="form-control" value="{{ vehicle.year }}">
</div>
<div class="form-group">
    <label for="client">Cliente:</label>
    <input type="text" id="client" name="client" class="form-control" value="{{ vehicle.client.name }}">
</div>